<div class="main">
    <div class="row">
        <div class="col-2">
            <div class="carte1">
             <div class="row">
                <div class="col-4 " >
                    <img src="../../assets/meet.png"  style="height: 40px; width: 60px;transform: scale(1.3);" alt="">
                </div>
                <div class="col-6" style="padding-top: 10px;margin-left: 10px;">Meet</div>
             </div>
             <div class="row btn">
                <div class="col-12">
                  <button type="button" id="rej">rejoindre</button>
                </div>
            </div>
            </div>
        </div>
        <div class="col-8">  
            <div class="carte3">
                <h3>cours :</h3>
                <div>
                    <div *ngFor="let j of t1  ">
                        <div class="row">
                         <div class="col-2">  {{j.cours}}</div>
                         <div class="col-4">  {{j.lien}}</div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
        
</div>
