*{
  font-family: Bahnschrift SemiBold;
}
.main {
  margin-top: 100px;
  margin-left: 200px;
}

.bande {
  margin-top: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("src\assets\img\6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

.bande h3 {
  margin-left: 120px;
  font-size: 37px;
  font-family: Bahnschrift SemiBold;
  color: #a38e5cd6;
}


.carte1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 #847146d6;
  transition: 0.3ms;
  border-radius: 8px;
  
}


#rej {

  background-color: green;
  color: white;
  border-radius: 8px;
  border-color: transparent;

}



.carte4{
width: 105%;
height: 110%;
padding: 15px;
box-shadow: 0 4px 8px 0 #847146d6;
transition: 0.3ms;
border-radius: 8px;
align-items: center;
justify-content: center;
}
.carte4 :hover{
  cursor: pointer;
}
#btn_lien{
border-color: transparent;
background-color: white;
}

h5{
  font-size: 30px;
   
  color: #847146d6;
  padding-bottom: 20px;
}



