<div class="row">
  <div class="col-md-6">
    <div class="bod">
      <div class="cont background-image ">
        <br><br><br>
        <h1>Cours de musique
          <br>
          et de chant
          <br> à domicile</h1>
        <br> <br><br>
        <h3>Des cours flexibles et dynamiques avec les meilleurs <br>
          professeurs de musique à domicile</h3>
        <br><br><br>
        <button>PLUS D'INFO</button>
      </div>
    </div>
  </div>
</div>
<div class="bande">

  <br>
  <div class="re">
    <h6>Rechercher un Professeur</h6>
  </div>
  <br>
  <div class="row">
    <div class="row">
      <h3 id="desc">Les professeurs près de chez moi...</h3>
    </div>
    <br>
    <br><br>
    <div class="row">
      <div class="col-md-3" style="margin-left: 70px; margin-right: 40px; margin-bottom: 15px;">
        <select class="form-select" aria-label="Default select example">
          <option selected>Choisissez un instrument</option>
          <option value="1">Accordéon</option>
          <option value="2">Piano</option>
          <option value="3">Violon</option>
        </select>
      </div>
      <div class="col-md-6" style="margin-right: 10px">
        <input type="text" class="form-control" placeholder=" Votre code postal" aria-label="Username" style="margin-bottom: 10px;">
      </div>
      <div class="col-md-2">
        <button type="button" class="btn ">Trouver</button>
      </div>
    </div>
    <br><br>
    <br>
   
  </div>
  
</div>
