<body >
    
    <div class="main">
       <div class="espace ">
           <ul>
              <li><a [routerLink]="['espace-clt']"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                 <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                 <path style="color: rgba(223, 229, 229, 0.884);" d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
               </svg>  Espace étudiant</a></li>
              <li><a [routerLink]="['espace-prof']">| <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                 <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                 <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
               </svg>  Espace professeur</a></li>
           </ul>
       </div>
       <div class="navbar">
        <div class="icon" >
          <a [routerLink]="['decouvrir']"  >
             <img class="logo" src="assets\img\logo.jpg" alt="logo" >
          </a>
        </div>
          <div class="menu">
              <ul>
                 <li><a [routerLink]="['decouvrir']">Découvrir</a></li>
                  <li><a [routerLink]="['devenir-clt']" style="color: #144579;">Devenir élève</a></li>
                  <li><a [routerLink]="['devenir-prof']"  style="color: #144579;">Devenir enseignant</a></li>
                  
              </ul>
          </div>
      </div>
      
  </div>
  <router-outlet></router-outlet>

</body>