<body>
    <div class="main">
        <form #f="ngForm"  (ngSubmit)="add(f)">
     <h5>Profil musical de l'élève</h5>
     <div class="carte">
        
         <select name="instrument" id="inst" >
             <option value="">Instrument</option>
             <option value="inst1">chant</option>
             <option value="inst2">batterie</option>
             <option value="inst3">clarinette</option>
             <option value="inst4">guitare</option>
             <option value="inst5">saxophone</option>
             <option value="inst6">piano</option>
         </select>
         <select name="style" id="style" >
             <option value="">choisissez votre style</option>
             <option value="style1">classique</option>
             <option value="style2">variété</option>
             <option value="style3">clarinette</option>
             <option value="style4">jazz</option>
             <option value="style5">rock</option>
             <option value="style6">autre</option>
         </select>
 
         <select name="niveau" id="inst" >
             <option value="">son niveau</option>
             <option value="inst1">débutant</option>
             <option value="inst2">moyen</option>
             <option value="inst3">avancé</option>
         </select>
     </div>
     <br>
     <br>
     <h5>Renseignez ses coordonnées</h5>
     <div class="carte2">
         <select name="gendre" id="inst" ngModel>
             <option value="">civilité</option>
             <option value="homme">monssieur</option>
             <option value="femme">madame</option>
         </select>
         <div class="row">
             <div class="col-md-3">
                 <label for="nom" >Prenom</label>
             </div>
             <div class="col-md-9">
                 <input type="text" name="prenom" required placeholder="entrez votre prenom" [(ngModel)]="person1.prenom">
             </div>
         </div>
         <div class="row">
             <div class="col-md-3">
                 <label for="nom" >Nom</label>
             </div>
             <div class="col-md-9">
                 <input type="text" name="nom" required placeholder="entrez votre nom" [(ngModel)]="person1.nom">
             </div>
         </div>
         <div class="row">
             <div class="col-md-3">
                 <label for="date" >date de naissance</label>
             </div>
             <div class="col-md-9">
                 <input type="date" name="date" required [(ngModel)]="person1.date">
             </div>
         </div>
         <div class="row">
             <div class="col-md-3">
                 <label for="adresse"  >adresse</label>
             </div>
             <div class="col-md-9">
                 <input type="text"  name="addresse" required placeholder="adresse a laquelle il prend ses cours" [(ngModel)]="person1.addresse">
             </div>
         </div>
     </div>
     <br><br>
     <h5>Mot de passe</h5>
     <div class="carte3">
         <div class="row">
             <div class="col-md-3">
                 <label for="add" >adresse</label>
             </div>
             <div class="col-md-9">
                 <input type="text" name="mail" required placeholder="votre email" [(ngModel)]="person1.mail">
             </div>
         </div>
         <div class="row">
             <div class="col-md-3">
                 <label for="mot" >Mot de passe</label>
             </div>
             <div class="col-md-9">
                 <input type="text" name="motpasse" required placeholder="mot de passe " [(ngModel)]="person1.motpasse">
             </div>
         </div>
         <div class="row">
             <div class="col-md-3">
                 <label for="mot1" >Mot de passe</label>
             </div>
             <div class="col-md-9">
                 <input type="text" required placeholder="confirmer mot de passe" >
             </div>
         </div>
     </div>
     <button type="submit" [disabled]="f.invalid" >+ Ajouter un élève</button>
    </form>
    </div> 
 </body>