body{
    margin-left: 500px;
    margin-top: 80px;
}
.bande{
    margin-top: 15px;
    background-color: #e9edf7;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image:url("src\assets\img\ground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


    
}

.bande h3 {
    margin-left: 200px;
    font-size: 37px;
    font-family: Bahnschrift SemiBold;
    color : #CB2229;
    
    
}
.carte{
    padding-left: 30px;
    padding-top: 30px;
    height: 200px;
    width: 500px;
  box-shadow: 0 4px 8px 0 #545C8C;
  transition: 0.3ms;
  border-radius: 8px;
  font-family: Bahnschrift SemiBold;
}
.main h5 {
    color: #C21010;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    font-family: Bahnschrift SemiBold;
}

.carte:hover {
    box-shadow: 0 8px 16px 0 #545C8C;
   background-color: rgba(222, 227, 238, 0.308);
}
.carte select{
 width: 440px;  
 height: 37px;
 border-radius: 6px;
 margin-bottom: 20px;
 
}

.carte2{
    padding-left: 30px;
    padding-top: 30px;
    height: auto;
    width: 500px;
  box-shadow: 0 4px 8px 0 #545C8C;
  transition: 0.3ms;
  border-radius: 8px;
  font-family: Bahnschrift SemiBold;
}
.carte2:hover {
    box-shadow: 0 8px 16px 0 #545C8C;
   background-color: rgba(222, 227, 238, 0.308);
}
.carte2 select{
    width: 440px;  
    height: 37px;
    border-radius: 6px;
    margin-bottom: 20px;
   }
.carte2 input{
    height: 37px;
    width: 315px;
    border-radius: 6px;
    margin-bottom: 20px;
}
button{
    margin-top: 50px;
    background-color: #C21010;
    height: 40px;
    margin-left: 160px;
    border-radius: 6px;
    color: white;
}
button:hover{
    opacity: 90%;
    cursor: pointer;
    background-color: #1b1a1a94;
}

.carte3{
    padding-left: 30px;
    padding-top: 30px;
    height: auto;
    width: 500px;
  box-shadow: 0 4px 8px 0 #545C8C;
  transition: 0.3ms;
  border-radius: 8px;
  font-family: Bahnschrift SemiBold;
}
.carte3:hover {
    box-shadow: 0 8px 16px 0 #545C8C;
   background-color: rgba(222, 227, 238, 0.308);
}
.carte3 input{
    height: 37px;
    width: 315px;
    border-radius: 6px;
    margin-bottom: 20px;
}

