*{
  font-family: Bahnschrift SemiBold;
}
.main {
  margin-top: 100px;
  margin-left: 200px;
}

.bande {
  margin-top: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("src\assets\img\5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

.bande h3 {
  margin-left: 120px;
  font-size: 37px;
  font-family: Bahnschrift SemiBold;
  color: #847146d6;
}


.carte1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 #847146d6;
  transition: 0.3ms;
  border-radius: 8px;
  
}

.carte2 {
  width: 105%;
  padding: 15px;
  display: flex;
  ;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 #847146d6;
  transition: 0.3ms;
  border-radius: 8px;
  height: 250px;
}

#rej {

  background-color: green;
  color: white;
  border-radius: 8px;
  border-color: transparent;
  width: 90px;
 

}

.myinput0 {
  padding-bottom: 25px;

}


input {
  width: 80%;
  margin-left: 10px;
  margin-right: 0px;
  border-radius: 6px;
}

.elements {
  width: 100%;
}

#bt1 {

  margin-top: 10px;
  width: 150px;
  background-color: green;
  color: white;
  border-radius: 8px;
  border-color: transparent;
  margin-right: 20px;
  height: 40px;
  

}

#bt2 {

  margin-top: 10px;
  width: 150px;
  background-color: green;
  color: white;
  border-radius: 8px;
  border-color: transparent;
  

}

.carte3 {
  width: 105%;
  height: 110%;
  padding: 15px;
  box-shadow: 0 4px 8px 0 #847146d6;
  transition: 0.3ms;
  border-radius: 8px;
  
  
}



.champ1 {

  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 20px;
  width: 120%;
}

.champ2 {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 20px;
  width: 120%;
}

.row1 {
  margin-left: 280px;
}

.espace {
  height: 100px;
}


.carte4{
  width: 105%;
  height: 110%;
  padding: 15px;
  box-shadow: 0 4px 8px 0 #847146d6;
  transition: 0.3ms;
  border-radius: 8px;
  }
  .carte4 :hover{
    cursor: pointer;
    
    }

#lien_meet{
width: 150px;
border-color: gray;
margin-bottom: 20px;

}
.btn1{

margin-top: 15px;
width: 100px;
margin-left: 35px;
background-color: green;
color: white;
border-radius: 8px;
border-color: transparent;
margin-bottom: 20px;


}

h5{
  font-size: 30px;
   
  color: #847146d6;
  padding-bottom: 20px;

}


#bt21{
  background-color: green;
  color: white;
  border-radius: 8px;
  border-color: transparent;
  width: 90px;
  margin-left: 37px;

  
  
}