<div class="bande">

  <h3>Consulter et ajouter vos cours</h3>
</div>
<div class="main">
  <div class="row">
    <div class="col-2">
      <div class="carte1">
        <div class="row">
          <div class="col-4 ">
            <img src="../../assets/meet.png" style="height: 40px; width: 60px;transform: scale(1.3);" alt="">
          </div>
          <div class="col-6" style="padding-top: 10px;margin-left: 10px;">Meet</div>
        </div>
        <div class="row btn">
          <form class="row elements" #f1="ngForm" (ngSubmit)="add1(f1)">
            <div class="col-12">
              <input type="text" name="lien_meet" placeholder="Mettre le lien du meet" id="lien_meet" ngModel>
            </div>
            <div class="col-3 ">
              <a href="https://meet.google.com/"> <button type="button" id="rej">Générer</button></a>
            </div>
          </form>


        </div>
      </div>





    </div>
    <div class="col-8">
      <div class="carte2">
        <div class="row"></div>
        <form class=" elements" #f="ngForm" (ngSubmit)="add(f)">
          <div class="col-9">

            <div class="input-group champ1">
              <div class="input-group-text ">Nom du cours</div>
              <input type="text" class="form-control" id="cour" name="cours" placeholder="Entrer le nom du cours"
                ngModel>
            </div>

            <div class="input-group champ2">
              <div class="input-group-text ">Lien du cours </div>
              <input type="text" class="form-control" id="lien" name="lien" placeholder="Entrer le lien du cours"
                ngModel>
            </div>
          </div>
          <div class="row row1">



            <button id="bt1" type="submit">Ajouter cours</button>

            <button id="bt2" type="submit">Supprimer cours</button>


          </div>

        </form>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div *ngFor="let j of t1  ">
          <div class="col-12">
            <div class="carte4">
              <h5>Cours : {{j.cours}}</h5>
              <h6><a href="{{j.lien}}">{{j.lien}}</a></h6>
            </div>
            <br>
          </div>
          <br>
        </div>
    </div>

    <div class="row espace">

    </div>

  </div>
</div>

</div>
